.footer {
  background: #3c8b45;
  color: #fff;
  text-align: center;
  width: 100%;
  padding: 1rem;
  margin-top: auto;
  font-weight: bold;
  position: relative;
  bottom: 0;
}

p {
  margin: 0.2rem 0;
}
